<div class="menuContainer noselect">
    <div>
        <div class="leftMenuItem" role="button" (click)="openFileExplorerWindowClicked.emit()">File Explorer</div>
        <div class="leftMenuItem" role="button" (click)="openTerminalWindowClicked.emit()">Terminal</div>
        <div class="leftMenuItem leftMenuItemBtm" role="button" (click)="rebootClicked.emit()">&#8634;</div>
    </div>
    <div class="vr"></div>
    <div>
        <div class="profilePicture"></div>
        <div class="center">Marcin Chudziński</div>
        <div class="rightMenuItem center" role="button" (click)="openAboutWindowClicked.emit()">About Me</div>
        <div class="rightMenuItem center" role="button" (click)="openSettingsWindowClicked.emit()">Settings</div>
    </div>
</div>
