<div class="desktopContainer">
    <div class="desktop">
        @for (window of windows; track $index) {
            @if(!window.isMinimized){
                <app-window
                [window]="window"
                [index]="$index"
                (focused)="focusCallback($event)"
                (draggedToTop)="dragIndCallback($event)"
                (closed)="closeWindowCallback($event);"
            ></app-window>
            }
        }
    </div>
    <div class="desktopToolbar">
        <div (click)="newWindow()">+</div>
        @for (window of windows; track $index) {
            <div class="toolbarIcon" (click)="focusCallback($index)">{{ $index }}</div>
        }
        <div class="right">
            <div>{{ clock }}</div>
        </div>
    </div>
    @if(showFullscreenIndicator){
        <div class="fullscreenIndicator"></div>
    }
</div>