<div class="projectWrapper">
    <div class="mainArticle selectable">
        <article>
            <section>
                <header class="intro center">
                    <div>
                        <p class="mainIntro">trading bot</p>
                        <div class="hr"></div>
                        <p class="sectionName">{{ content.projects.tradingbot.introduction.project }}</p>
                    </div>
                    <div class="flexRow">
                        <div>
                            <p class="secondaryIntro">{{ content.projects.tradingbot.introduction.descValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.tradingbot.introduction.desc }}</p>
                        </div>
                        <div>
                            <p class="secondaryIntro">2023-2026</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.tradingbot.introduction.time }}</p>
                        </div>
                        <div>
                            <p class="secondaryIntro">{{ content.projects.tradingbot.introduction.statusValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.tradingbot.introduction.status }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="secondaryIntro stack">
                            <div>Node.js</div>
                            <div>Binance API</div>
                            <div>Bybit API</div>
                            <div>JS</div>
                            <div>TS</div>
                            <div>HTML</div>
                            <div>CSS</div>
                            <div>Python</div>
                            <div>Linux</div>
                        </div>
                        <div class="hr"></div>
                        <p class="sectionName">{{ content.projects.tradingbot.introduction.techStack }}</p>
                    </div>
                </header>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">01</span><br>{{ content.projects.tradingbot.intro.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.intro.inShort }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.intro.inShortVal }}</p>
                </div>
                <figure>
                    <img src="./projects/tradingbot/balancedata.jpg" [alt]="content.projects.tradingbot.intro.inShortImg">
                    <figcaption>{{ content.projects.tradingbot.intro.inShortImg }}</figcaption>
                </figure>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.intro.bg }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.intro.bgVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.intro.timeline.header }}</p>
                    <div class="timeline">
                        <div class="tlDot endDot"></div>
                        <div class="tlYear">2023</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.may }} 2023</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item1 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.jun }} 2023</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item2 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.aug }} 2023</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item3 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlYear">2024</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.feb }} 2024</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item4 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.apr }} 2024</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item5 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.may }} 2024</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item6 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlYear">2025</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.dec }} 2025</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item7 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlYear">2026</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.feb }} 2026</div>
                                <div class="tlEventDesc">{{ content.projects.tradingbot.intro.timeline.item8 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot endDot"></div>
                    </div>
                </div>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">02</span><br>{{ content.projects.tradingbot.details.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.details.whatIsTradingBot }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.details.whatIsTradingBotVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.details.binanceIntegration }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.details.binanceIntegrationVal1 }}</p>
                    <p class="sectionText">
                        {{ content.projects.tradingbot.details.binanceIntegrationVal2 }}
                        <span class="codeLine">HMAC SHA256</span>
                        {{ content.projects.tradingbot.details.binanceIntegrationVal3 }}
                    </p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.details.whatDoesTradingBotDo }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.details.whatDoesTradingBotDoIntro }}</p>
                    <ol class="sectionList">
                        <li><span>{{ content.projects.tradingbot.details.whatDoesTradingBotDoList1 }}</span></li>
                        <li><span>{{ content.projects.tradingbot.details.whatDoesTradingBotDoList2 }}</span></li>
                        <li><span>{{ content.projects.tradingbot.details.whatDoesTradingBotDoList3 }}</span></li>
                        <li><span>{{ content.projects.tradingbot.details.whatDoesTradingBotDoList4 }}</span></li>
                        <li><span>{{ content.projects.tradingbot.details.whatDoesTradingBotDoList5 }}</span></li>
                    </ol>
                    <p class="sectionText">{{ content.projects.tradingbot.details.whatDoesTradingBotDoVal1 }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.details.whatDoesTradingBotDoVal2 }}</p>
                </div>
                <div class="projectVideWrapper">
                    <video controls preload="metadata" playsinline>
                        <source src="./projects/tradingbot/trailing_stop_loss.mp4" type="video/mp4"/>
                    </video>
                    {{ content.projects.tradingbot.details.trailingStopLossVideoCaption }}
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.details.semiAutomatic }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.details.semiAutomaticVal }}</p>
                </div>
                <figure>
                    <img src="./projects/tradingbot/binancebot1_web_interface.jpg" [alt]="content.projects.tradingbot.details.interfaceImg1">
                    <figcaption>{{ content.projects.tradingbot.details.interfaceImg1 }}</figcaption>
                </figure>
                <figure>
                    <img src="./projects/tradingbot/binancebot2_web_interface.jpg" [alt]="content.projects.tradingbot.details.interfaceImg2">
                    <figcaption>{{ content.projects.tradingbot.details.interfaceImg2 }}</figcaption>
                </figure>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">03</span><br>{{ content.projects.tradingbot.tools.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.tools.dataAnalysis }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.tools.dataAnalysisVal1 }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.tools.dataAnalysisVal2 }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.tools.strategySearch }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.tools.strategySearchVal }}</p>
                </div>
                <figure>
                    <img src="./projects/tradingbot/heatmap.jpg" [alt]="content.projects.tradingbot.tools.heatmapImg">
                    <figcaption>{{ content.projects.tradingbot.tools.heatmapImg }}</figcaption>
                </figure>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.tools.marketSimulation }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.tools.marketSimulationVal }}</p>
                </div>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">03</span><br>{{ content.projects.tradingbot.summary.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.summary.result }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.summary.resultVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.tradingbot.summary.retrospective }}</p>
                    <p class="sectionText">{{ content.projects.tradingbot.summary.retrospectiveVal }}</p>
                </div>
            </section>
        </article>
    </div>
</div>