<div class="projectWrapper">
    <div class="mainArticle selectable">
        <article>
            <section>
                <header class="intro center">
                    <div>
                        <p class="mainIntro">JourneyCraft</p>
                        <div class="hr"></div>
                        <p class="sectionName">{{ content.projects.journeycraft.introduction.project }}</p>
                    </div>
                    <div class="flexRow">
                        <div>
                            <p class="secondaryIntro">{{ content.projects.journeycraft.introduction.descValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.journeycraft.introduction.desc }}</p>
                        </div>
                        <div>
                            <p class="secondaryIntro">2020-2021</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.journeycraft.introduction.time }}</p>
                        </div>
                        <div>
                            <p class="secondaryIntro">{{ content.projects.journeycraft.introduction.statusValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.journeycraft.introduction.status }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="secondaryIntro stack">
                            <div>Java</div>
                            <div>Node.js</div>
                            <div>Discord API</div>
                            <div>HTML</div>
                            <div>JS</div>
                            <div>CSS</div>
                            <div>MySQL</div>
                            <div>Git</div>
                            <div>Linux</div>
                            <div>UI/UX</div>
                        </div>
                        <div class="hr"></div>
                        <p class="sectionName">{{ content.projects.journeycraft.introduction.techStack }}</p>
                    </div>
                </header>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">01</span><br>{{ content.projects.journeycraft.intro.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.intro.inShort }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.intro.inShortVal }}</p>
                    <figure>
                        <img src="./projects/jc/spawn.jpg" [alt]="content.projects.journeycraft.intro.inShortImg">
                        <figcaption>{{ content.projects.journeycraft.intro.inShortImg }}</figcaption>
                    </figure>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.intro.bg }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.intro.bgVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.intro.timeline.header }}</p>
                    <div class="timeline">
                        <div class="tlDot endDot"></div>
                        <div class="tlYear">2020</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.dec }} 2020</div>
                                <div class="tlEventDesc">{{ content.projects.journeycraft.intro.timeline.item1 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.dec }} 2020</div>
                                <div class="tlEventDesc">{{ content.projects.journeycraft.intro.timeline.item2 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlYear">2021</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.aug }} 2021</div>
                                <div class="tlEventDesc">{{ content.projects.journeycraft.intro.timeline.item3 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.sep }} 2021</div>
                                <div class="tlEventDesc">{{ content.projects.journeycraft.intro.timeline.item4 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot endDot"></div>
                    </div>
                </div>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">02</span><br>{{ content.projects.journeycraft.details.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.details.aboutJM }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.details.aboutJMval1 }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.details.aboutJMval2 }} <span class="codeLine">/j status</span> {{ content.projects.journeycraft.details.aboutJMval3 }} <span class="codeLine">/j unlock</span> {{ content.projects.journeycraft.details.aboutJMval4 }} <span class="codeLine">/j give</span> {{ content.projects.journeycraft.details.aboutJMval5 }} <span class="codeLine">/j give stone 64</span> {{ content.projects.journeycraft.details.aboutJMval6 }}<span class="codeLine">/j give</span> {{ content.projects.journeycraft.details.aboutJMval7 }}</p>
                    <figure>
                        <img src="./projects/jc/journey_inventory.jpg" [alt]="content.projects.journeycraft.details.aboutJMimg">
                        <figcaption>{{ content.projects.journeycraft.details.aboutJMimg }}</figcaption>
                    </figure>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.details.discordIntegration }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.details.discordIntegrationVal1 }}</p>
                    <figure>
                        <img src="./projects/jc/player_stats.jpg" [alt]="content.projects.journeycraft.details.discordIntegrationImg">
                        <figcaption>{{ content.projects.journeycraft.details.discordIntegrationImg }}</figcaption>
                    </figure>
                    <p class="sectionText">{{ content.projects.journeycraft.details.discordIntegrationVal2 }} <span class="codeLine">/discord [nick]</span> {{ content.projects.journeycraft.details.discordIntegrationVal3 }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.details.website }}</p>
                    <p class="sectionText"><a href="https://journeycraft.mchudzinski.dev/" target="_blank">https://journeycraft.mchudzinski.dev/</a></p>
                    <p class="sectionText">{{ content.projects.journeycraft.details.websiteVal1 }} <a href="https://journeycraft.mchudzinski.dev/" target="_blank">{{ content.projects.journeycraft.details.websiteVal2 }}</a>{{ content.projects.journeycraft.details.websiteVal3 }}</p>
                    <figure>
                        <img src="./projects/jc/wiki.jpg" [alt]="content.projects.journeycraft.details.websiteImg">
                        <figcaption>{{ content.projects.journeycraft.details.websiteImg }}</figcaption>
                    </figure>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.details.infrastructure }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.details.infrastructureVal }}</p>
                    <figure>
                        <img src="./projects/jc/first_hosting.jpg" [alt]="content.projects.journeycraft.details.infrastructureImg">
                        <figcaption>{{ content.projects.journeycraft.details.infrastructureImg }}</figcaption>
                    </figure>
                </div>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">03</span><br>{{ content.projects.journeycraft.summary.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.journeycraft.summary.jcNow }}</p>
                    <p class="sectionText">{{ content.projects.journeycraft.summary.jcNowVal }}</p>
                </div>
            </section>
        </article>
    </div>
</div>