<div class="projectWrapper">
    <div class="mainArticle selectable">
        <article>
            <section>
                <header class="intro center">
                    <div>
                        <p class="mainIntro">bluelotus.pl</p>
                        <div class="hr"></div>
                        <p class="sectionName">{{ content.projects.bluelotus.introduction.project }}</p>
                    </div>
                    <div class="flexRow">
                        <div>
                            <p class="secondaryIntro">{{ content.projects.bluelotus.introduction.descValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.bluelotus.introduction.desc }}</p>
                        </div>
                        <div>
                            <p class="secondaryIntro">{{ content.projects.bluelotus.introduction.timeValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.bluelotus.introduction.time }}</p>
                        </div>
                        <div>
                            <p class="secondaryIntro">{{ content.projects.bluelotus.introduction.statusValue }}</p>
                            <div class="hr"></div>
                            <p class="sectionName">{{ content.projects.bluelotus.introduction.status }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="secondaryIntro stack">
                            <div>HTML</div>
                            <div>JS</div>
                            <div>CSS</div>
                            <div>jQuery</div>
                            <div>Git</div>
                            <div>SEO</div>
                            <div>UI/UX</div>
                            <div>PHP</div>
                        </div>
                        <div class="hr"></div>
                        <p class="sectionName">{{ content.projects.bluelotus.introduction.techStack }}</p>
                    </div>
                </header>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">01</span><br>{{ content.projects.bluelotus.intro.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.intro.inShort }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.intro.inShortVal }}</p>
                    <p class="sectionText"><a href="https://bluelotus.pl" target="_blank">{{ content.projects.bluelotus.intro.website }}</a></p>
                </div>
                <figure class="sectionImageVertical">
                    <img src="./projects/bluelotus/bluelotus.jpg" alt="{{ content.projects.bluelotus.intro.inShortImg }}">
                    <figcaption>{{ content.projects.bluelotus.intro.inShortImg }}</figcaption>
                </figure>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.intro.bg }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.intro.bgVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.intro.timeline.header }}</p>
                    <div class="timeline">
                        <div class="tlDot endDot"></div>
                        <div class="tlYear">2024</div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.apr }} 2024</div>
                                <div class="tlEventDesc">{{ content.projects.bluelotus.intro.timeline.item1 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.generic.months.sep }} 2024</div>
                                <div class="tlEventDesc">{{ content.projects.bluelotus.intro.timeline.item2 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot">
                            <div class="tlEvent">
                                <div class="tlEventTitle">{{ content.projects.bluelotus.intro.timeline.item3Date }} 2024</div>
                                <div class="tlEventDesc">{{ content.projects.bluelotus.intro.timeline.item3 }}</div>
                            </div>
                        </div>
                        <div class="tlPath"></div>
                        <div class="tlDot endDot"></div>
                    </div>
                </div>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">02</span><br>{{ content.projects.bluelotus.realization.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.realization.biggestChallenge }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.realization.biggestChallengeVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.realization.implementation }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.realization.implementationVal1 }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.realization.implementationVal2 }}</p>
                </div>
                <figure class="sectionImageVertical">
                    <img src="./projects/bluelotus/form.jpg" alt="{{ content.projects.bluelotus.realization.contactFormImg }}">
                    <figcaption>{{ content.projects.bluelotus.realization.contactFormImg }}</figcaption>
                </figure>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.realization.seo }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.realization.seoVal }}</p>
                </div>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.realization.hosting }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.realization.hostingVal }}</p>
                </div>
            </section>
            <section>
                <p class="mainSectionHeader"><span class="codeLine">03</span><br>{{ content.projects.bluelotus.summary.header }}</p>
                <div>
                    <p class="sectionHeader">{{ content.projects.bluelotus.summary.retrospective }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.summary.retrospectiveVal1 }}</p>
                    <p class="sectionText">{{ content.projects.bluelotus.summary.retrospectiveVal2 }}</p>
                </div>
            </section>
        </article>
    </div>
</div>
