::ng-deep .iconGear{
    background-image: url(../assets/images/icons/gear.png);
}
::ng-deep .iconDir{
    background-image: url(../assets/images/icons/dir.png);
}
::ng-deep .iconMe{
    background-image: url(../assets/images/icons/me.png);
}
::ng-deep .iconTerm{
    background-image: url(../assets/images/icons/term.png);
}
::ng-deep .iconIn{
    background-image: url(../assets/images/icons/in.png);
}
::ng-deep .iconFile{
    background-image: url(../assets/images/icons/file.png);
}
::ng-deep .iconNet{
    background-image: url(../assets/images/icons/net.png);
}
::ng-deep .iconOff{
    background-image: url(../assets/images/icons/off.png);
}