<div class="window noselect" [style.top.px]="window().posY" [style.left.px]="window().posX" [style.z-index]="window().zIndex" (pointerdown)="focused.emit(index())">
    <table class="table">
        <tr>
            <td class="resizeCornerNwse"></td>
            <td class="resizeVertical"></td>
            <td class="resizeCornerNesw"></td>
        </tr>
        <tr>
            <td class="resizeHorizontal"></td>
            <td>
                <div class="headerBar" (pointerdown)="startDrag($event)">
                    <div class="headerIcon"></div>
                    <div class="headerTitle">{{ window().title }}</div>
                    <div role="button">&#9472;</div>
                    <div role="button">&#9723;</div>
                    <div role="button">&#10005;</div>
                </div>
                <div class="content" [style.height.px]="window().innerH" [style.width.px]="window().innerW">{{ index() }}</div>
            </td>
            <td class="resizeHorizontal"></td>
        </tr>
        <tr>
            <td class="resizeCornerNesw"></td>
            <td class="resizeVertical"></td>
            <td class="resizeCornerNwse"></td>
        </tr>
    </table>
</div>