<div
    class="window noselect"
    [style.top.px]="window().posY"
    [style.left.px]="window().posX"
    [style.z-index]="window().zIndex"
    (pointerdown)="focused.emit(index())"
    [class.fullscreen]="window().isFullscreen"
    [class.minimized]="window().isMinimized"
>
    <table class="table">
        <tr>
            <td class="resizeCornerNwse" (pointerdown)="startResize($event, 'nw')"></td>
            <td class="resizeVertical" (pointerdown)="startResize($event, 'n')"></td>
            <td class="resizeCornerNesw" (pointerdown)="startResize($event, 'ne')"></td>
        </tr>
        <tr>
            <td class="resizeHorizontal" (pointerdown)="startResize($event, 'w')"></td>
            <td>
                <div class="headerBar" (pointerdown)="startDrag($event)" (dblclick)="toggleFullscreen($event)" [class.headerBarFocused]="isFocused()">
                    <div
                        class="headerIcon"
                        [class.iconGear]="window().icon === 'gear'"
                        [class.iconDir]="window().icon === 'dir'"
                        [class.iconMe]="window().icon === 'me'"
                        [class.iconTerm]="window().icon === 'term'"
                        [class.iconIn]="window().icon === 'in'"
                        [class.iconNet]="window().icon === 'net'"
                        [class.iconOff]="window().icon === 'off'"
                    ></div>
                    <div class="headerTitle">{{ window().title }}</div>
                    <div role="button" (pointerdown)="$event.stopPropagation(); focused.emit(index())" (click)="minimizeCallback()">&#9472;</div>
                    <div role="button" (pointerdown)="$event.stopPropagation(); focused.emit(index())" (click)="fullscreenClick()">&#9723;</div>
                    <div role="button" (pointerdown)="$event.stopPropagation(); focused.emit(index())" (click)="closeClick()">&#10005;</div>
                </div>
                <div
                    class="content"
                    [style.height]="window().isFullscreen ? 'calc(100vh - 34px)' : window().innerH + 'px'"
                    [style.width]="window().isFullscreen ? 'calc(100vw - 4px)' : window().innerW + 'px'"
                >
                    <ng-container *ngComponentOutlet="window().component; inputs: window().inputs"></ng-container>
                </div>
            </td>
            <td class="resizeHorizontal" (pointerdown)="startResize($event, 'e')"></td>
        </tr>
        <tr>
            <td class="resizeCornerNesw" (pointerdown)="startResize($event, 'sw')"></td>
            <td class="resizeVertical" (pointerdown)="startResize($event, 's')"></td>
            <td class="resizeCornerNwse" (pointerdown)="startResize($event, 'se')"></td>
        </tr>
    </table>
</div>