.biosSplashScreen{
    padding: 16px;
    font-size: 1.5em;
    filter: blur(0.7px);
    * {
        font-family: monospace, sans-serif;
    }
    .blink {
        animation: blink 0.5s steps(1) infinite;
    }
    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}