.desktopIconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    .desktopIcon{
        height: 44px;
        width: 44px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.desktopIconContainer:hover{
    border: 1px solid #4a4a4a;
    background-color: rgba(255, 255, 255, 0.05);
}
.selected{
    border: 1px solid forestgreen !important;
    background-color: rgba(0, 255, 0, 0.05) !important;
}