@font-face {
    font-family: 'SourceSans3';
    src: url('assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SourceSans3, sans-serif;
    image-rendering: pixelated;
    scrollbar-color: black #4a4a4a;
}

*[role=button]{
    cursor: pointer;
}

body{
    background-color: black;
    color: white;
}

a, a:visited{
    color: white;
}

.noselect, .noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center, .center *{
    text-align: center;
}